In [1]:
import pandas as pd
# from pyarrow.parquet import ParquetFile
# import pyarrow as pa
from sqlalchemy import create_engine

In [15]:
engine = create_engine('postgresql://root:root@127.0.0.1:5432/ny_taxi')

In [16]:
engine.connect()

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-18 18:51:31--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.71.14, 52.216.114.125, 52.216.33.32, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.71.14|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.001s

2023-01-18 18:51:32 (20.2 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [4]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [17]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [14]:
engine.dispose()